.main{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 3.65% auto;
  flex: 1fr 2fr;
  justify-content: space-evenly;

}
.topics{
  min-width: 24%;
  background-color: #22242e;
  border-radius: 10px;
  min-height: 70vh;
  width: 40%;
  margin: 10px;
}
.topics>h1{
  padding: 20px;
  color: rgb(152 143 218);
  
}
.topics>ul{
  list-style-type: none;
  padding: 0 20px;
}
.topics>ul>li{
  margin: 20px 5px;
  color: rgb(131 128 153);
}
.topics>ul>.invert_active{
  margin: 20px 5px;
  color: rgb(235, 235, 235);
}
.topics>ul>li>i{
  padding: 10px;
}
.todos{
  background-color: #22242e;
  max-height: 70vh;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todos>.tasks{
  max-height: 63vh;
  overflow: auto;
  
}
.todos>div>.taskHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todos>div>.taskHead>h1{
  padding: 20px;
  color: rgb(152 143 218);
  
}
.todos>div>.taskHead>i{
  padding: 20px;
  color: rgb(152 143 218);
  font-size: 25px;
  
}
.todos>div>ul{
  list-style-type: none;
  padding: 0 20px;
  max-height: 82%;
  overflow: auto;
}
.todos>div>ul>li{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: rgb(59 59 78);
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
}

.todos>div>ul>li>.task_text{
  display: flex;
  align-items: center;
}
.todos>div>ul>li>.task_text>input{
  width: 1.2em;
  height: 1.2em;
  background-color: gray;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0 7px;
}

.todos>div>ul>li>.task_text>input:checked {
  background-color: white;
}

.todos>div>ul>li>.marks>input{
  display: none;
}
.todos>div>ul>li>.marks>label{
  color: gray;
}
.todos>div>ul>li>.marks>input:checked + label{
  color: white;
}


.todos>.add_task_btn>form{
  text-align: right;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.todos>.add_task_btn>form>input[type="checkbox"]{
  display: none;
} 


.todos>.add_task_btn>form>button{
  padding: 10px 20px;
  background: linear-gradient(169deg, #a87bf7, #7b26ef);
  color: white;
  border-radius: 50px;
  outline: none;
  border: none;
}

.todos>.add_task_btn>form>input[type="text"]{
  display: block;
  border: none;
  border-bottom: 1px solid rgb(152 143 218);
  outline: none;
  background: transparent;
  width: 0%;
  margin: 0px 11px;
  font-size: 18px;
  color: white;
  transition: .5s ease-in-out;
}

.todos>.add_task_btn>form>input[type="checkbox"]:checked + input[type="text"]{
  width: 88%;
} 
